{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<section>
    <body id="homepage">
        <div class="home">
            <div class="text-home">
                <h1>Can’t decide what to watch ?</h1>
            </div>
            <div class="logo-home">
                <img class="img-fluid" src="{{ asset('build/images/logo.jpg')}}" alt="logo">
                <a type="button" class="btn btn-dark" href="/category">Entrer</a>
            </div>
           
        </div>
    </body>
</section>
{% endblock %}