{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class=" col-lg-6 offset-lg-3">
            <div class="p-3 shadow">
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                <h1>Réinitialisez votre mot de passe</h1>

                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Entrez votre adresse email pour recevoir un lien de réinitialisation du mot de passe.
                        </small>
                    </div>

                    <button class="btn btn-primary">Réinitialiser le mot de passe</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
            
