{% extends 'base.html.twig' %}

{% block title %}Les Catégories{% endblock %}

{% block body %}
    <div class="container-md">
        <h1 class="title text-center">CATEGORIES</h1>
        <hr class="mb-5">
        
            {% for category in categories %}
                {# Lien vers la fiche de la catégorie : #}
                <div class="container category">
                    <a class="btn w-100" href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a>
                </div>
            {% else %}
                Aucune catégorie trouvée.
            {% endfor %}
        
    </div>
    <div class="homebtn mt-auto mb-5 pt-5">
        <a href="{{ path('app_home') }}" class="btn">
            ACCUEIL
        </a>
    </div>
{% endblock %}