{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
    <h1>Edit Season</h1>

    {{ include('season/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('program_season_show', { 'program_slug': program.slug, 'season_id': season.id }) }}">back to list</a>

{% endblock %}
