<form method="post" action="{{ path('program_delete', {'id': program.id}) }}" onsubmit="return confirm('Etes-vous certain(e) de vouloir supprimer cette série?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="btn btn-primary delete">Supprimer</button>
</form>