$primary: #124559;
$secondary: rgb(0, 172, 106);
$dark: #141414;
$white: #F1F1F1;
$grey: #202020;
$sans-serif: 'Open Sans', sans-serif;
$monospace: 'Archivo Black', sans-serif;
$roboto: 'Roboto', sans-serif;