@import '_var.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import '_global.scss';
@import '_navbar.scss';
@import '_homepage.scss';
@import '_program.scss';
@import '_category.scss';
@import '_select-category.scss';
@import '_login.scss';


body {
    background-color: $dark;
    padding-top: 6rem;
    // width: 100%;
    // height: 100%;
}

.img-fluid {
    border-radius: 10px;
    min-width: 100%;
}

.media {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

// .text-home > h1 {
//  color: white;
//  font-size: 5rem;
//  font-family: $monospace;
// //  text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
//  padding-left: 2rem;
//  padding-right: 4rem;
// }







